* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(20, 20, 20);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-size: 5vh;
}

main {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  height: 80vh;
  width: 100vw;
}

.cronometro,
.temporizador {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50vh;
}

.cronometro {
  font-family: 'Seven Segment', sans-serif;
  color: #008000;
  font-weight: 700;
  font-size: 20vh;
}

.cronometro span {  
  margin: 0 5px;
}

.timer input,
.timer button {
  margin: 5px;
}

.timer button {
  padding: 5px 10px;
}